<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>594648943611-k3rc0icm5ne66r1upqcjlicih3f4aqma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594648943611-k3rc0icm5ne66r1upqcjlicih3f4aqma</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>594648943611-0u92qn922o1r624hdr172lmhtlfincub.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDufoj6zdp14gqxNCj5YbfBKweMg-1mtDE</string>
	<key>GCM_SENDER_ID</key>
	<string>594648943611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.metromenial.validate</string>
	<key>PROJECT_ID</key>
	<string>validate-6747a</string>
	<key>STORAGE_BUCKET</key>
	<string>validate-6747a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594648943611:ios:a837d59ab0ddede30f995e</string>
</dict>
</plist>